
form{
   border: 1.5px solid lightgray;
   width: 60%;
   margin: auto;
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 2rem;
   font-size: 17px;
}

input{
    
    outline: none;
    border: none;
    border-bottom:1px solid lightgray ;
    height: 3rem;
    width: 60%;
    margin: 25px;
    
}
input[type=submit]{
    background-color: lightgray;
    border-radius: 5px;
    border-bottom: none;

}

@media (max-width:652px){
    form{
        width: 80%;
        font-size: 17px;
    }
    input{
        font-size: 17px;
    }
    label{
        display: flex;
        flex-direction:column ;
        align-items: center;
    }

}


